<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.shadow578.tenshi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="io.github.shadow578.tenshi.TENSHI_CONTENT_ADAPTER" />
        </intent>
    </queries>

    <application
        android:name=".TenshiApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/shared_app_name"
        android:supportsRtl="true"
        android:theme="@style/TenshiTheme.SplashScreen">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/shared_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/login_title"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="tenshiapp"
                    android:host="tenshi.app.auth.mal"
                    android:pathPattern="/.*"
                    android:pathPrefix="/.*" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.AnimeDetailsActivity"
            android:parentActivityName=".ui.MainActivity"
            android:label="@string/details_title"
            android:hardwareAccelerated="true"
            android:configChanges="keyboard|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- TODO: mal http -->
                <data
                    android:scheme="https"
                    android:host="myanimelist.net"
                    android:pathPrefix="/anime/"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.FullscreenImageActivity"
            android:parentActivityName=".ui.AnimeDetailsActivity"
            android:label="@string/fullscreen_img_title"
            android:hardwareAccelerated="true"
            android:configChanges="keyboard|orientation|screenSize"/>

        <activity android:name=".ui.SearchActivity"
            android:parentActivityName=".ui.MainActivity"
            android:label="@string/search_title"
            android:hardwareAccelerated="true"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".ui.settings.SettingsActivity"
            android:parentActivityName=".ui.MainActivity"
            android:label="Settings"
            android:hardwareAccelerated="true"
            android:configChanges="keyboard|orientation|screenSize"/>
    </application>
</manifest>