<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.shadow578.tenshi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <intent>
            <action android:name="io.github.shadow578.tenshi.content.ADAPTER" />
        </intent>
    </queries>

    <application
        android:name=".TenshiApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/shared_app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TenshiTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/shared_app_label"
            android:theme="@style/TenshiTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.oobe.OnboardingActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/oobe_title"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${redirect_host}"
                    android:scheme="${redirect_scheme}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AnimeDetailsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/details_title"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/TenshiTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- TODO: mal http -->
                <data
                    android:host="myanimelist.net"
                    android:pathPrefix="/anime/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.FullscreenImageActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/fullscreen_img_title"
            android:parentActivityName=".ui.AnimeDetailsActivity" />

        <activity
            android:name=".ui.SearchActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/search_title"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/TenshiTheme.SplashScreen" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Settings"
            android:parentActivityName=".ui.MainActivity" />

        <!-- notifications -->
        <receiver android:name=".notifications.NotificationPublisher" />

    </application>
</manifest>